.CompanyInfoTitle {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    text-align: center;
}

.CompanyInfoSubTitle {
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    text-align: center;
}

.CompanyInfoContent {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin-bottom: 15px;
}

.CompanyNameInput {
    width: 100%;
}

.AddressInput {
    width: 100%;
}

.BusinessEmailInput {
    width: 100%;
}

.CountryInput {
    width: 50%;
}

.CityInput {
    width: 50%;
}

.PhoneNumberInput {
    width: 100%;
}

.AnotherPhoneNumberInput {
    width: 100%;
}

.CompanyInfoInput .MuiInputLabel-filled.MuiInputLabel-shrink {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
}

.CompanyInfoInput .MuiFilledInput-input {
    color: rgba(0, 0, 0, 0.65);
}

.CompanyInfoInput .MuiFilledInput-root {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    margin-bottom: 15px !important;
}

.PhoneNumberInput .MuiFilledInput-root{
    border-radius: 0px 4px 4px 0px !important;
}

.AnotherPhoneNumberInput .MuiFilledInput-root{
    border-radius: 0px 4px 4px 0px !important;
}

.CountryInput .MuiFilledInput-root {
    margin-right: 15px !important;
}

.PhoneNumberInput .MuiFilledInput-root {
    margin-right: 15px !important;
}

.CompanyInfoInput .MuiFilledInput-root:hover {
    background-color: #fff;
}

.CompanyInfoInput .MuiFilledInput-root.Mui-focused {
    background-color: #fff;
}

.CompanyInfoInput .MuiFilledInput-underline:before {
    border-bottom: none !important;
}

.CompanyInfoInput .MuiFilledInput-underline:after {
    border-bottom: none !important;
}

.CompanyInfoInput .MuiFormLabel-root.Mui-focused {
    color: rgba(0, 0, 0, 0.54);
}

.CompanyInfoInputError .MuiFilledInput-root{
    border-color: #ff5f59 !important;
    margin-bottom: 0px !important;
}

.CompanyInfoInput .MuiFormHelperText-root.Mui-error {
    color: #ff5f59 !important;
    margin-left: 0px !important;
}

.CountryInputError {
    color: #ff5f59 !important;
    margin-left: 0px !important; 
}

.CityInputError {
    color: #ff5f59 !important;
    margin-left: 0px !important; 
}

.CompanyInfoPhoneNumberContainer {
    display: inline-flex;
    width: 50%;
}

.CompanyInfoPhoneNumberCode {
    border-top: 1px solid #f4f4f4;
    height: 56px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
}

.CompanyInfoPhoneNumberCodeError {
    border-color: #ff5f59 !important;
}

.CompanyInfoFooter {
    display: flex;
    justify-content: space-between;
}

.BackToLogin {
    float: left;
}

.BackToLoginButton {
    text-transform: unset !important;
}

.CompanyInfoAction {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.CompanyInfoNextButton {
    margin-right: 0px !important;
    background-color: #1777fb !important;
    width: 200px !important;
    text-transform: unset !important;
    color: #fff !important;
}

.CompanyInfoBackButton {
    background: #eae8e9 !important;
    width: 100px !important;
    text-transform: unset !important;
    margin-right: 8px !important;
}